<% content_for(:title) do %>
  <span><%=entry.meal_type %> &ndash; <%= Time.zone.now.to_fs(:nice_date) %></span>
<% end %>
<nav class="panel is-link">

<div id="<%= dom_id entry %>">
  <p class="panel-heading">
    <%= entry.meal_type %>
  </p>

  <p class="panel-block">
    Calories:
    <%= entry.calories %>
  </p>

  <p class="panel-block">  
    Proteins:
    <%= entry.proteins %>
  </p>

  <p class="panel-block">
    Carbohydrates:
    <%= entry.carbohydrates %>
  </p>

  <p class="panel-block">
    Fats:
    <%= entry.fats %>
  </p>

</div>
</nav>
