<%= form_with(model: entry) do |form| %>


  <% if entry.errors.any? %>
    <div class="message">
    <div class="message-header">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
    </div>
      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :meal_type, style: "display: block" %>
    <%= form.text_field :meal_type, class: "input" %>
  </div>

  <div>
    <%= form.label :calories, style: "display: block" %>
    <%= form.number_field :calories, class: "input" %>
  </div>

  <div>
    <%= form.label :proteins, style: "display: block" %>
    <%= form.number_field :proteins, class: "input" %>
  </div>

  <div>
    <%= form.label :carbohydrates, style: "display: block" %>
    <%= form.number_field :carbohydrates, class: "input" %>
  </div>

  <div>
    <%= form.label :fats, style: "display: block" %>
    <%= form.number_field :fats, class: "input" %>
  </div>

  <div>
    <%= form.submit%>
  </div>
<% end %>
