<div class="columns is-centered mt-2">
  <div class="column is-one-third">
    <%= render @entry %>
    <!-- show data <%= params%> -->
    <div class="columns">
      <div class="column is-mobile">
        <%= link_to "Edit this entry", edit_entry_path(@entry), class: "button is-warning is-small" %>
        <%= link_to "Back to entries", entries_path, class: "button is-info is-small" %> 
        <%= link_to "Delete", entry_path, data: { turbo_method: :delete }, class: "button is-danger is-small"%>      
      </div>
    </div>
  </div>
</div>
